<div ng-controller="LoginCtrl" ng-cloak permission permission-only="'isAnonymous'">
    <div class="welcome-card-wrapper">
        <md-card class="welcome-card fadeInUp">
            <md-card-title class="welcome-card-title">Please log in</md-card-title>
            <md-card-content class="welcome-card-content" >
            </md-card-content>
            <md-card-content class="welcome-card-buttons-wrapper">
                <md-button ng-click="googleLogin()" class="welcome-card-button">sign in and create spreadsheet</md-button>
            </md-card-content>
        </md-card>
    </div>
</div>




